<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.abtestdemo">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <application android:allowBackup="true" android:debuggable="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.example.adhoc.base.DemoApplication" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name="com.example.adhoc.abtestdemo.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.adhoc.activities.FlagTestActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.adhoc.activities.instant.DialogActivityMain2" android:screenOrientation="portrait"/>
        <activity android:name="com.example.adhoc.activities.BtnColorActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_base" android:name="com.example.adhoc.base.AdhocActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_tracking" android:name="com.example.adhoc.activities.TrackingActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_tracking" android:name="com.example.adhoc.activities.TestIntStringActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.adhoc.activities.InstantUpdateActivity"/>
        <activity android:name="com.example.adhoc.activities.instant.ListViewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.adhoc.activities.instant.ScrollViewActivity"/>
        <activity android:name="com.example.adhoc.activities.instant.TouchActivity" android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.example.adhoc.activities.instant.ImageViewActivity"/>
        <activity android:name="com.example.adhoc.activities.ConfigActivity"/>
        <activity android:name="com.example.adhoc.activities.instant.NewPage" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat"/>
        <activity android:exported="true" android:name="com.example.adhoc.activities.instant.WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.adhoc.activities.instant.EditTextActivity"/>
        <activity android:name="com.example.adhoc.activities.instant.OtherActivity"/>
        <activity android:name="com.example.adhoc.activities.instant.ButtonActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.adhoc.activities.instant.RecyclerViewLinearActivity"/>
        <activity android:name="com.example.adhoc.activities.instant.RecyclerViewStaggeredGridActivity"/>
        <activity android:name="com.example.adhoc.activities.instant.LoopViewPagerActivity"/>
        <activity android:name="com.example.adhoc.activities.instant.DebugDialogUploadPosition"/>
        <activity android:name="com.example.adhoc.base.LFTTestActivity" android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.example.adhoc.activities.instant.TestScrollViewActivity"/>
        <activity android:name="com.example.adhoc.activities.debug.TestLiteSDKActivity"/>
        <activity android:name="com.example.adhoc.test.TestPreferenceActivity"/>
        <activity android:name="com.github.dfqin.grantor.PermissionActivity" android:theme="@style/GrantorNoDisplay"/>
        <service android:enabled="false" android:name="com.squareup.leakcanary.internal.HeapAnalyzerService" android:process=":leakcanary"/>
        <service android:enabled="false" android:name="com.squareup.leakcanary.DisplayLeakService" android:process=":leakcanary"/>
        <provider android:authorities="com.squareup.leakcanary.fileprovider.com.abtestdemo" android:exported="false" android:grantUriPermissions="true" android:name="com.squareup.leakcanary.internal.LeakCanaryFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/leak_canary_file_paths"/>
        </provider>
        <activity android:enabled="false" android:icon="@mipmap/leak_canary_icon" android:label="@string/leak_canary_display_activity_label" android:name="com.squareup.leakcanary.internal.DisplayLeakActivity" android:process=":leakcanary" android:taskAffinity="com.squareup.leakcanary.com.abtestdemo" android:theme="@style/leak_canary_LeakCanary.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:enabled="false" android:excludeFromRecents="true" android:icon="@mipmap/leak_canary_icon" android:label="@string/leak_canary_storage_permission_activity_label" android:name="com.squareup.leakcanary.internal.RequestStoragePermissionActivity" android:process=":leakcanary" android:roundIcon="@mipmap/leak_canary_icon" android:taskAffinity="com.squareup.leakcanary.com.abtestdemo" android:theme="@style/leak_canary_Theme.Transparent"/>
        <activity android:name="com.adhoc.editor.testernew.AdhocDebugActivity"/>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation" android:name="com.adhoc.editor.testernew.AdhocCaptureActivity" android:screenOrientation="portrait" android:stateNotNeeded="true" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider android:authorities="com.abtestdemo.adhoc_provider" android:name="com.adhoc.data.SPContentProvider"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:multiprocess="true" android:name="com.blankj.utilcode.util.PermissionUtils$PermissionActivity" android:theme="@style/ActivityTranslucent" android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider android:authorities="com.abtestdemo.utilcode.provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider4Util">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/util_code_provider_paths"/>
        </provider>
    </application>
</manifest>