<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adhoc.abtestlite"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- unavailable in API 23 -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> -->

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application>
        <activity
            android:name="com.adhoc.editor.testernew.DebugActivityAdhoc"
            android:exported="false" />
        <activity
            android:name="com.adhoc.editor.testernew.CaptureActivityAdhoc"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name="com.adhoc.data.SPContentProvider"
            android:authorities="${applicationId}.adhoc_provider" />

        <receiver
            android:name="com.adhoc.receiver.ReceiverAdhoc"
            android:exported="false" >
            <intent-filter>
                <action android:name="${applicationId}.adhoc_receiver" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>